@charset "utf-8";
@keyframes button-click{
    0%{
        /* font-size: 100%; */
    }
    50%{
        width: 20%;
        color: white;
    }
    100%{
        font-size: 110%;
        letter-spacing: 2px;
        background-color: rgba(185, 185, 245, 0.805);
        color: white;
        width: 20%;
        }
    }

    @keyframes inbutton-click{
        0%{
            
        }

        100%{
            background-color: rgba(148, 190, 245, 0.805);
            color: white;

            }
        }

.btn-animation:hover{
    animation-name: button-click;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    cursor: pointer;
}

.inbtn-animation:hover{
    animation-name: inbutton-click;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    cursor: pointer;
}

.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    border: 1px white;
    border-radius: 45px;
    background-color: rgba(255, 255, 255, 0.654);
    margin: 20px auto;
    width: 80%;
    height: 70px;
    font-weight: 600;
}

.btn{
    border: 1px solid rgb(255, 255, 255);
    border-radius: 30px;
    width: 14%;
    text-align: center;
    margin: 12px;
    padding: 7px;
    background-color: rgba(239, 226, 226, 0.572);
    
}


#btn0{
    width: 7%;
}



body{
    background-image: url('背景.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}



.content{
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* 7 列，每列寬度相等 */
    grid-template-rows: repeat(5, 1fr); /* 3 行，每行高度相等 */
    width: 75%;
    height: 490px;
    margin: 0px auto;
    padding: 10px 35px;
    border: 1px white;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.654);
    position: relative;
}

.innerContainer{
    float: left;
    border: 1px white;
    border-radius: 50px;
    margin: 15px;
    position: absolute;
}

.innerBtn{
    border: 1px solid rgb(255, 255, 255);
    font-size: 15px;
    border-radius: 30px;
    width: 40%;
    height: 15%;
    margin: 4px;
    margin-top: 25px;
    margin-bottom: 12px;
    padding: 10px;
    color: rgb(255, 255, 255);
    background-color: rgba(233, 167, 173, 0.437);
    text-align: center;
}

#photo{
    background-image: url('畢業照.jpg');
    background-size: cover;
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
}



#information{
    grid-row-start: 4;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 3;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
    padding-left: 15px;
}

#detail{
    grid-row-start: 1;
    grid-row-end: 6;
    grid-column-start:3;
    grid-column-end: 8;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
    overflow-y: scroll;
}

#basic{
    font-size: 16px;
    line-height: 200%;
    font-weight: 250;
}

h1{
    font-size: 30px;
    font-weight: 600;
    line-height: 70%;
    letter-spacing: 3px;

}

h2{
    font-size: 20px;
    font-weight: 350;
    line-height: 60%;
    letter-spacing: 3px;

}

#foreword{
    padding-top: 2%;
}

.words{
    padding-left: 15%;
    font-size: 90%;
    font-weight: 200;
    line-height: 200%;
    letter-spacing: 3px;   
}

a {
    text-decoration: none; /* 刪除底線 */
    color: inherit; /* 保持文字顏色與父元素一致 */
}
